<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="HL7-transport-Test" preserve-order="true" verbose="2">
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.hl7.*"/>-->
<!--        </packages>-->
        <classes>
<!--            <class name="org.wso2.carbon.esb.hl7.inbound.transport.test.HL7InboundPreprocessorTest"></class>-->
<!--            <class name="org.wso2.carbon.esb.hl7.inbound.transport.test.HL7InboundTransportTest"></class>-->
            <class name="org.wso2.carbon.esb.hl7.transport.test.HL7TestCase"></class>
        </classes>
    </test>




</suite>

